<h1>{{ 'register.email.title'|trans }}</h1>

<p>
    {{ 'register.email.message.please'|trans }}<br><br>
    <a href="{{ signedUrl|raw }}">{{ 'register.email.message.confirm'|trans }}</a>.
    {{ 'register.email.message.expiration'|trans }} {{ expiresAt|date('g') }}h.
</p>

<p>
    {{ 'register.email.welcome'|trans }}
</p>
