{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}{{ 'register.title'|trans }}{% endblock %}

{% block content %}

<div id="login-page">
    <div class="login-page container">
        <div class="login-page content">
            <div class="row">
                {% if registrationInfo is defined and registrationInfo is not null and registrationInfo is not empty %}
                    <div class="alert alert-info" role="alert">{{ registrationInfo }}</div>
                {% endif %}
                {% for flashError in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                {% endfor %}

                <div class="login_wrapper">
                    <h1 class="h3 mb-3 font-weight-normal">{{ 'register.title'|trans }}</h1>

                    {{ form_start(registrationForm) }}
                    <div class="input_fields">
                        <div class="col-md-8">
                            <div class="reg-one-row">
                                {{ form_row(registrationForm.firstName) }}
                                {{ form_row(registrationForm.lastName) }}
                            </div>
                            {{ form_row(registrationForm.company) }}
                            {{ form_row(registrationForm.address) }}
                            <div class="reg-one-row">
                                {{ form_row(registrationForm.postalCode) }}
                                {{ form_row(registrationForm.city) }}
                            </div>
                            {{ form_row(registrationForm.country) }}
                            {{ form_row(registrationForm.phone) }}
                            {{ form_row(registrationForm.email) }}
                            {{ form_row(registrationForm.plainPassword) }}
                            {{ form_row(registrationForm.agreeTerms) }}
                            <div>
                                <p>{{ 'terms.privacy.protection'|trans }}
                                    <a href="{{ path('app_static_privacy') }}">{{ 'terms.privacy.protection_privacy'|trans }}</a> and
                                    <a href="{{ path('app_static_terms') }}">{{ 'terms.privacy.protection_terms'|trans }}</a>.
                                </p>
                            </div>
                            <div class="login_btn_wrapper">
                                <button type="submit" class="btn btn-lg btn-primary login_btn">{{ 'register.button'|trans }}</button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
