<h1>Zdravo! Stigla je nova porudžbina!</h1>

<p>
    Preuzmi porudžbinu i prosledi na obradu:<br>
    <a href="{{ url('order_change_status', {'id': orderId}) }}">
        <button class="button warning" style="background-color: lightgoldenrodyellow">Preuzmi porudžbinu</button>
    </a>
</p>
<p>
{#    Stigla je nova porudžbina!#}
    Podaci o kreiranoj porudžbini su:<br><br>
    Username kupca: {{ orderUser|raw }} <br>
    Id porudžbine: {{ orderId }} <br>
    Naselje: {{ cityName }} <br>
    Adresa: {{ address }} <br>
    Broj telefona: <a href="tel:{{ phone }}">{{ phone }}</a> <br>
    Napomena: {{ note }} <br><br>
</p>
<p>
    {% for item in items %}
        Naziv: {{ item.product.name }},
        Dodaci: {% if item.itemAdditions is not empty %}{{ item.itemAdditions }}{% else %} / {% endif %},
        Kol: {{ item.quantity }}<br>
    {% endfor %}
</p>
<p>
    Prijatno!
</p>
