<h1>Zdravo! Stigla je nova porud탑bina!</h1>

<p>
{#    Stigla je nova porud탑bina!#}
    Podaci o kreiranoj porud탑bini su:<br><br>
    Username kupca: {{ orderUser|raw }} <br>
    Id porud탑bine: {{ orderId }} <br>
    Naselje: {{ cityName }} <br>
    Adresa: {{ address }} <br>
    Broj telefona: {{ phone }} <br>
    Napomena: {{ note }} <br><br>
</p>

<p>
    Prijatno!
</p>
