{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}{{ 'about.page_title'|trans }}{% endblock %}

{% block greet_info %}
{% endblock %}

{% block content %}

    <div id="about">
        <div class="about container">
            <div class="about content">
                <h1>{{ 'about.title'|trans }}</h1>
                <div class="about content-desc">
                {{ 'about.text.desc'|trans|raw }}
                </div>
                <div class="about content-footer">
                {{ 'about.text.footer'|trans|raw }}
                </div>
            </div>
        </div>

        <div class="about container">
            <h3>{{ 'about.team'|trans }}</h3>

            <div class="about content about-all-members">
                <h5>{{ 'about.text.titlemember1'|trans }}</h5>
                <div class="about content about-member">
                    <div class="about image-member">
                        <img src="{{ asset('images/aboutus/member1.jpeg') }}" alt="Dobrinka Arbanovski" />
                    </div>
                    <div class="about content-member">
                        {{ 'about.text.member1'|trans|raw }}
                    </div>
                </div>

                <h5>{{ 'about.text.titlemember2'|trans }}</h5>
                <div class="about content about-member reverse">
                    <div class="about content-member">
                        {{ 'about.text.member1'|trans|raw }}
                    </div>
                    <div class="about image-member">
                        <img src="{{ asset('images/aboutus/member2.jpeg') }}" alt="Ana Žikić" />
                    </div>
                </div>
            </div>
        </div>

        <div class="about container">
            <strong>
                <p></p>
                <p></p>
                <h3 style="text-align: center;">Osnovni principi našeg rada</h3>
                <p>Jedan od osnovnih postulata biofizičke (energetske) medicine jeste da se početak svake bolesti dešava na nivou biopolja u vidu disharmoničnih talasa i energetskih blokada koji ometaju prirodno kruženje energije kroz organizam (tzv. predklinička faza bolesti). Do odredjenog intenziteta organizam uspeva da amortizuje takvo stanje sa svojim urodjenim samoregulatornim mehanizmima. Ako je medjutim spoljno ili unutrašnje opterećenje veliko ili traje duži period vremena samoregulacija popušta, dinamička ravnoteža se narušava, organizam ulazi u stanje energetskog haosa i počinje da funkcioniše u crvenoj zoni.</p>
                <p>Te promene se odigravaju tiho, podmuklo i ostaju neprepoznate za pojedinca. Ne mogu se dijagnostikovati ni metodama klasične medicine.<br>
                    Ako se takvo stanje blagovremeno ne savlada, poremećaj prelazi na nivo fizičkog tela, tj. javlja se bolest u klasičnom poimanju te reči.</p>
                <p style="text-align: center;"><strong><em>TERAPIJSKI CILJ</em></strong></p>
                <ol>
                    <li>Otkrivanje svih postojećih blokada i opterećenja organizma a zatim njihovo uklanjanje ili ublažavanje.</li>
                    <li>Uvodjenje organizma u energetsku ravnotežu.</li>
                    <li>Podizanje njegovog celokupnog odbrambenog sistema korišćenjem svih prirodnih neagresivnih metoda koje su nam na raspolaganju.</li>
                    <li>Uspostavljanje fiziološki zdrave šeme koja kasnije funkcioniše autonomno i održava organizam u dobrom stanju.</li>
                    <li>Krajni cilj terapijskog procesa jeste podizanje kvaliteta življenja, odnosno postizanje: konstantne energije,mentalne bistrine, otpornosti na stres i infekcije,emocionalne ravnoteže, dobre fizičke kondicije, odsustva bolesti.</li>
                </ol>
                <p style="text-align: center;"><em><strong>METODE KOJE KORISTIMO</strong></em></p>
                <p><strong><em>Kvantna aparaturna medicina.</em></strong>Zasnovana je na principima biorezonance i biofidbeka.<br>
                    Aparati se dopunjuju u svom delovanju i imaju kako dijagnostičku tako i terapeutsku namenu. Na raspolaganju nam je preko 400 programa namenjenih različitim patološkim stanjima.</p>
                <p style="padding-left: 30px;">a/ Bicom aparat iz Instituta Regumed u Minhenu.<br>
                    b/ QXCI – američki softver za dijagnostiku i terapiju.<br>
                    c/ Imago–skener zdravlja, ruski medicinski softver za dijagnostiku i terapiju.<br>
                    d/ Kardiotahometar – ruska metoda za brzu funkcionalnu dijagnostiku.</p>
                <p><strong><em>Test intolerancije na osnovne namirnice<br>
                        </em></strong><strong><em>Pregled žive kapi krvi<br>
                        </em></strong><strong><em>Homeopatska terapija (konstitucionalna i simptomatska), Šislerove soli, Bahove kapi </em></strong><strong><em>Aromaterapija<br>
                        </em></strong><strong><em>Kineska tradicionalna medicina<br>
                        </em></strong><strong><em>Individualni hronobiološki ciklus (bioritam</em></strong><strong>) – </strong>kako uskladiti organizam sa prirodnim ritmovima i pružiti mu elementarna pomoć<strong>.<br>
                    </strong><strong><em>Vežbe</em>: sistem medicinskih vežbi ruskih autora</strong></p>
                <p style="text-align: center;"><em><strong>PROCEDURA RADA</strong></em></p>
                <p><strong>Inicijalni razgovor sa lekarom</strong> u kojem se sagledavaju zdravstveni problemi pacijenta i njegovi motivi za dolazak.<br>
                    <strong>Primena dijagnostičkih metoda</strong> koji obuhvataju:</p>
                <p>a/ <u>Test intolerancije na osnovne životne namirnice</u> i formiranje individualnog načina ishrane<br>
                    b/ <u>Skrining test</u> (procena energetsko-funkcionalnog stanja organizma). Informacije koje nam test pruža su:</p>
                <p style="padding-left: 60px;">-detektovanja prisutnih blokada i slabih polja<br>
                    -stepen intoksikacije i nivo stresa<br>
                    -stanje samoregulatornih funkcija<br>
                    -određivanje energetskih rezervi<br>
                    -odredjivanje biološke starosti organizma<br>
                    -stanje aure, čakri i energetskih meridijana<br>
                    -najznačajnija opterećujuća emocionalna stanja</p>
                <p>c/ <u>Pregled žive kapi krvi</u>: odredjivanja funkcionalnosti krvi, stepena kiselosti, prisustva kandide, parazita i bakterija</p>
                <p></p>
                <p><strong><em>Terapija </em></strong></p>
                <p><strong><em>a</em></strong><em>/ <strong>Za osobe koje imaju zdravstvenu problematiku</strong> </em>U zavisnosti od prisutne subjektivne problematike i nalaza skrining testa, formira se individualni program za svaku osobu, tj. pravi se kombinacija mera koja je najpogodnija za konkretni slučaj.</p>
                <p><strong><em>b/ Preventivni program </em></strong>Radi se o preventivnoj kontroli, tj. otkrivanju eventualnih funkcionalnih kako bi se sprečila pojava bolesti na fizičkom nivou. Preduzimaju se mere da do toga ne dodje kroz promene u životnom stilu a primenjuju se i procedure koje ublažavaju sve individualne faktore koji destabilizuju organizam.</p>
                <p><strong><em>c/ Program za pročišćenje, obnavljanje i podmlađivanje organizma </em></strong></p>
                <p><strong><em>d/ Antistres program – ublažavanje stanja adrenalinskog umora</em></strong></p>
                <p><strong></strong></p>
                <p><strong><em> </em></strong></p>

            </strong>
        </div>
    </div>

{% endblock %}

