{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}{{ 'homepage.page_title'|trans }}{% endblock %}

{% block greet_info %}
    {% if (get_parameter('syminorder.mainimage.configShowVueMainImage') == "show_main_image") %}
        <div class="categories text-center">
            <main-image
                    v-bind:datauname="dataUname"
                    header-height="height:100vh;"
            ></main-image>

            <a href="#homepage" class="btn btn-outline-primary" id="btnOutline">
                <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div id="homepage">
        <div class="homepage main-container">

            <div class="homepage content"
                 style="width: 100vw;"
            >
                <main-carousel
                        class="carousel"
                        img1="{{ asset('images/carousel/slide1.jpg') }}"
                        img2="{{ asset('images/carousel/slide2.jpg') }}"
                        img3="{{ asset('images/carousel/slide3.jpg') }}"
                        img4="{{ asset('images/carousel/slide4.jpg') }}"
                        img5="{{ asset('images/carousel/slide5.jpg') }}"
                        imgtext1="{{ 'vuejs.maincarousel.slide1'|trans|raw }}"
                        imgtext2="{{ 'vuejs.maincarousel.slide1'|trans|raw }}"
                        imgtext3="{{ 'vuejs.maincarousel.slide1'|trans|raw }}"
                        imgtext4="{{ 'vuejs.maincarousel.slide1'|trans|raw }}"
                        imgtext5="{{ 'vuejs.maincarousel.slide1'|trans|raw }}"
                >

                </main-carousel>

                <div class="homepage content welcome-message">
                    {{ 'homepage.welcome_message'|trans|raw }}
                </div>

                {{ include('Front/category/category_categories.html.twig') }}

                <div class="game-test">
                    <game-test class="welcome-message">

                    </game-test>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
