{% extends 'Front/static_pages/layout.html.twig' %}

{% block title %}{{ 'homepage.page_title'|trans }}{% endblock %}

{% block greet_info %}
    <div class="categories text-center">
        <main-image
                v-bind:datauname="dataUname"
                header-height="height:100vh;"
        ></main-image>

        <a href="#homepage" class="btn btn-outline-primary" id="btnOutline">
            <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
        </a>
    </div>
{% endblock %}

{% block content %}
    <div id="homepage">
        <div class="homepage main-container">

            <div class="homepage content"
                 style="width: 100vw;"
            >
                <main-carousel
                        class="carousel"
                        img1="{{ asset('images/carousel/bluebckg.jpg') }}"
                        img2="{{ asset('images/carousel/bluebckg.jpg') }}"
                        img3="{{ asset('images/carousel/bluebckg.jpg') }}"
                        imgtext1="{{ 'vuejs.maincarousel.slide1'|trans|raw }}"
                        imgtext2="{{ 'vuejs.maincarousel.slide2'|trans|raw }}"
                        imgtext3="{{ 'vuejs.maincarousel.slide3'|trans|raw }}"
                >

                </main-carousel>

                <div class="homepage content welcome-message">
                    {{ 'homepage.welcome_message'|trans|raw }}
                </div>

                {{ include('Front/category/category_categories.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
