{% extends 'Front/static_pages/layout.html.twig' %}

{% set user_is_logged_in = app.user ? true : false %}
{% if user_is_logged_in %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {% set search_by = '' %}
    {% elseif 'ROLE_WAITER' in app.user.roles %}
        {% set search_by = 'processing' %}
    {% elseif 'ROLE_DRIVER' in app.user.roles %}
        {% set search_by = 'driving' %}
    {% elseif 'ROLE_USER' in app.user.roles %}
        {% set search_by = 'userOrders' %}
    {% endif %}
{% endif %}

{% block title %}Poručite{% endblock %}

{% block greet_info %}

{% endblock %}

{% block content %}
    <div id="orders">
        <div class="orders container">

            {% if user_is_logged_in %}
                <div class="orders list">
                    {% if search_by == 'userOrders' %}
                        <orders-table-user id="orders-table-user"
                                      searchby="{{ search_by }}"
                                      v-bind:datauname="dataUname"
                                      v-bind:userid="{{ app.user.id }}"
                        >

                        </orders-table-user>
                    {% else %}
                        <orders-table id="orders-table"
                                      searchby="{{ search_by }}"
                                      v-bind:datauname="dataUname"
                        >

                        </orders-table>
                    {% endif %}
                </div>
            {% endif %}

            <div class="orders content">

                {% if orderchanged is defined and orderchanged is not empty %}
                    <div class="alert {% if orderchanged.status == 'processing' %} alert-success {% else %} alert-danger {% endif %}">
                        {% if orderchanged.status == 'processing' %}
                            <br />Novi status porudžbine je: "U pripremi"
                        {% else %}
                            <br />Status porudžbine je: {{ orderchanged.status }}
                        {% endif %}
                        <br />Porudžbina br: {{ orderchanged.id }}
                        <br />Vreme poručivanja: {{ orderchanged.cartAt is empty ? "" : orderchanged.cartAt|date("d/m/Y H:i:s") }}
                        <br />Kupac: {{ orderchanged.customer.username }}, {{ orderchanged.customer.email }}
                    </div>
                {% endif %}

                Dobro došli,
                <br /><br />
                stranica o informacijama u vezi porudžbina je u izdradi
                <br /><br />
                Hvala na poseti!!!
            </div>
        </div>
    </div>
{% endblock %}
