{% extends 'Front/static_pages/layout.html.twig' %}

{% set user_is_logged_in = app.user ? true : false %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <div class="category-show content" id="product-show">
        <div id="{{ product.id }}" class="flex-container-cat">

            {{ include('Front/show_product/product_image.html.twig') }}

            <div class="category-about">
                <div class="category-name">
                    <h1>{{ product.name }}</h1>
                </div>
                <div class="category-desc">{{ product.description|raw }}</div>

                {% if user_is_logged_in %}
                    <div class="product-toorder-btn">
                        <product-buttons
                                v-bind:product="{{ productJson }}"
                        >
                        </product-buttons>
                    </div>
                {% else %}
                    <div class="login-toorder-btn">
                        <a class="login-prod-link navbar-link" href="{{ path('app_login') }}">
                            <div class="row">
                                <div class="col-4 login-prod-cart"><i class="fas fa-cart-plus"></i></div>
                                <div class="col-8 login-text">
                                    <div>{{ 'navbar.cart_button.upper'|trans }}</div>
                                    <div>{{ 'navbar.cart_button.bottom'|trans }}</div>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="category-show content">
        <div class="category-long-desc">
            <span id="moreless">
                {{ product.longDescription|raw }}
            </span>
        </div>
    </div>
{% endblock %}
