{#{% extends 'Front/categories_list/layout.html.twig' %}#}
{% extends 'Front/static_pages/layout.html.twig' %}

{% set user_is_logged_in = app.user ? 'true' : 'false' %}
{% if app.user %}
    {% if 'ROLE_ADMIN' in app.user.roles %}
        {% set search_by = '' %}
    {% elseif 'ROLE_ACCOUNTANT' in app.user.roles %}
        {% set search_by = '' %}
    {#{% elseif 'ROLE_WAITER' in app.user.roles %}
        {% set search_by = 'processing' %}
    {% elseif 'ROLE_DRIVER' in app.user.roles %}
        {% set search_by = 'driving' %}#}
    {% elseif 'ROLE_USER' in app.user.roles %}
        {% set search_by = 'userOrders' %}
    {% endif %}
{% endif %}

{% block title %}
    {% if user_is_logged_in %}{{ 'navbar.orders'|trans }}{% else %}{{ 'navbar.offer'|trans }}{% endif %}
{% endblock %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger">{{ error|trans }}</div>
    {% endif %}

    <div id="offer-indications">
        {% if app.user %}
            <div class="orders list">
                {% if search_by == 'userOrders' %}
                    <orders-table-user id="orders-table-user"
                                       searchby="{{ search_by }}"
                                       v-bind:datauname="dataUname"
                                       v-bind:userid="{{ app.user.id }}"
                    >

                    </orders-table-user>
                {% else %}
                    <orders-table id="orders-table"
                                  searchby="{{ search_by }}"
                                  v-bind:datauname="dataUname"
                                  deliveredordersurl="{{ path('app_delivered_orders') }}"
                    >

                    </orders-table>
                {% endif %}
            </div>
        {% else %}
            <div class="orderpage content welcome-message">
                {{ 'order.welcome_message'|trans|raw }}
            </div>
        {% endif %}

        {% if categoriesJSON|default and categoriesJSON|length > 0 %}
            <categories-main
                    v-bind:categories="{{ categoriesJSON }}"
                    :user_is_logged_in="{{ user_is_logged_in }}"
            >
            </categories-main>
        {% elseif tagservicesJSON|default and tagservicesJSON|length > 0 %}
            <tag-services-main
                    v-bind:tagservices="{{ tagservicesJSON }}"
                    :user_is_logged_in="{{ user_is_logged_in }}"
                    showdescription="{{ get_parameter('syminorder.tagservices.configShowDesc') }}"
            >
            </tag-services-main>
        {% endif %}
    </div>
{% endblock %}