{% extends 'Front/static_pages/layout.html.twig' %}

{% set user_is_logged_in = app.user ? 'true' : 'false' %}

{% block title %}{{ category.name }}{% endblock %}

{% block content %}
    <div class="category-show content" id="category-show">
        <h1>{{ category.name }}</h1>

        <div id="{{ category.id }}" class="flex-container-cat">

            {{ include('Front/category/category_image.html.twig') }}

            <div class="category-desc">
                {{ category.description|raw }}
            </div>
        </div>
    </div>
    <div class="category-show content">
        <div class="category-long-desc">
            <span id="moreless" class="truncate-overflow">
                {{ category.longDescription|raw }}
            </span>
            <span class="moreless more">{{ 'category.moreless.more'|trans }}</span>
            <span class="moreless less" style="display: none;">{{ 'category.moreless.less'|trans }}</span>
        </div>
    </div>

    {% if productsdata|default and productsdata != "" and productsdata|length > 0 %}
        <div class="category-show content">
            <category-selected
                    v-bind:productsdata="{{ productsdata }}"
                    :user_is_logged_in="{{ user_is_logged_in }}"
            >
            </category-selected>
        </div>
    {% endif %}

    {{ include('Front/category/category_categories.html.twig') }}

{% endblock %}
