<!-- Footer -->
<footer class="page-footer font-small special-color-dark pt-4">
    <!-- Footer Elements -->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <address>
                    <p><b>{{ 'navbar.brand'|trans }}</b></p>
                    <div class="footer-ul">
                        {{ 'footer.email'|trans }}:
                        <ul>
                            <li><a href="mailto:{{ 'footer.email_address'|trans }}">{{ 'footer.email_address'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="footer-ul">
                        {{ 'footer.phone'|trans }}:
                        <ul>
                            <li><a href="tel:+{{ 'footer.phone_number_href1'|trans }}">{{ 'footer.phone_number1'|trans }}</a></li>
                            <li><a href="tel:+{{ 'footer.phone_number_href2'|trans }}">{{ 'footer.phone_number2'|trans }}</a></li>
                        </ul>
                    </div>
                    <div class="footer-ul">
                        {{ 'footer.owner'|trans }}:
                        <ul>
                            <li>{{ 'footer.owner_name'|trans }}</li>
                            <li>{{ 'footer.owner_firmname'|trans }}</li>
                        </ul>
                    </div>
                </address>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <address>
                    <div class="footer-ul">
                        {{ 'footer.address'|trans }}:
                        <ul>
                            <li><span>{{ 'footer.street_address'|trans }}</span></li>
                            <li><span>{{ 'footer.city_address'|trans }}</span></li>
                            <li><span>{{ 'footer.state'|trans }}</span></li>
                        </ul>
                    </div>

                    <div class="footer-ul">
                        {{ 'footer.working_time'|trans }}:
                        <ul>
                            <li>{{ 'footer.working_time_value1'|trans }}</li>
                            <li>{{ 'footer.working_time_value2'|trans }}</li>
                        </ul>
                    </div>
                    <div class="footer-ul">
                        {{ 'footer.deliveries'|trans }}:
                        <ul>
                            <li>{{ 'footer.deliveries_time'|trans }}</li>
                        </ul>
                    </div>
                </address>
            </div>
            <!-- Social buttons -->
            <div class="col-sm-12 col-md-12 col-lg-4 social-and-terms">

                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="list-inline-item">
                                {{ 'footer.social_info'|trans }}:
                            </div>
                            <ul class="list-unstyled list-inline text-center">
                                <li class="list-inline-item">
                                    <a href="{{ 'footer.social_facebook'|trans }}" target="_blank" class="btn-floating btn-fb mx-1">
                                        <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="{{ 'footer.social_instagram'|trans }}" target="_blank" class="btn-floating btn-gplus mx-1">
                                        <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12 privacy-terms">
                            <p>{{ 'terms.privacy.protection'|trans }}
                                <a href="{{ path('app_static_privacy') }}">{{ 'terms.privacy.protection_privacy'|trans }}</a> and
                                <a href="{{ path('app_static_terms') }}">{{ 'terms.privacy.protection_terms'|trans }}</a>.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Social buttons -->
        </div>
    </div>
    <!-- Footer Elements -->
    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">
        © 2021 Copyright:
        <a href="http://goransubic.github.io/" target="_blank"> Goran Subić</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->