{% set user_is_logged_in = app.user ? true : false %}
{% set user_name = app.user ? app.user.email : "" %}
{% set table_id = 0 %}
{% set table_name = "Sto 1" %}

<nav class="bg-dark navbar navbar-expand-lg navbar-dark" id="mainNavbar">
    <div class="container"
         style="position: relative;"
    >
        <a class="navbar-brand" href="{{ path('homepage') }}"><strong>Olala</strong></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('homepage') }}">Olala<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_orders') }}">
                        {% if user_is_logged_in %}Porudžbine{% else %}Ponuda{% endif %}
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_static_about') }}">O nama</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item">
                    <a href="https://www.facebook.com/olalazr/" target="_blank" class="nav-link"><i class="fab fa-facebook"> </i></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.instagram.com/o_.la_la/" target="_blank" class="nav-link"><i class="fab fa-instagram"> </i></a>
                </li>
                {% if user_is_logged_in %}
                    <li class="nav-item user-logout">
                        <span class="user-name">{{ user_name }}</span>
                        <a class="nav-link" href="{{ path('app_logout') }}"><strong>LogOut</strong></a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <ul class="navbar-nav mr-auto" id="login-shopping">
            <li class="nav-item">
            {% if user_is_logged_in %}
                <shopping id="shopping"
                          v-bind:datauname="dataUname"
                          v-bind:userid="{{ app.user.id }}"
                          v-bind:tableid="{{ table_id }}"
                          tablename="{{ table_name }}"
                ></shopping>
            {% else %}
                <a class="navbar-link" href="{{ path('app_login') }}">
                    <div class="row">
                        <div class="col-4 login-bag"><i class="fa fa-shopping-bag"></i></div>
                        <div class="col-8 login-text">
                            <div>LogIn</div>
                            <div>Poručite</div>
                        </div>
                    </div>
                </a>
            {% endif %}
            </li>
        </ul>

    </div>
</nav>