{% extends 'base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Description</th>
                <th>Category</th>
                <th>FavoriteCount</th>
                <th>Price</th>
                <th>ImageFilename</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>
                    {% if product.category and product.category.name %}
                        <a href="{{ path('category_show', {'id' : product.category.id}) }}">{{ product.category.name }}</a>
                    {% else %}
                        No cattegory chosen!
                    {% endif %}
                </td>
                <td>{{ product.favoriteCount }}</td>
                <td>{{ product.price }}</td>
                <td>{% if product.picture and product.picture.imageName %}
                        {{ product.picture.imageName }}
                    {% else %}
                        No image!
                    {% endif %}
                </td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">show</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
