{% if category.children|length > 0 or category.products|length > 0 %}
    <div class="row category {% if param_is_first %}first{% endif %}" id="category-{{ category.id }}"
        {% if param_to_hide %}
            style="display: none;"
        {% endif %}
    >
        <div class="tblcol col-xs-12 col-sm-4 col-md-4">
            {% if category.picture %}
                <img
                    class="img-fluid"
                    src="{{ vich_uploader_asset(category.picture, 'imageFile') }}"
                    alt="{{ category.picture.imageName }}"
                />
            {% else %}
                No image!
            {% endif %}
        </div>
        <div class="tblcol col-xs-12 col-sm-8 col-md-8">
            <table class="table">
                <tbody>
                <tr>
                    <th>{{ category.name }}</th>
                    <td>
                        {{ category.description }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {% for product in category.products|filter(product => product.enabled) %}
        <div class="row product category-{{ category.id }}" style="display: none;">
            <div class="tblcol col-xs-12 col-sm-3 col-md-3">
                {% if product.picture %}
                    <img
                            class="img-fluid"
                            src="{{ vich_uploader_asset(product.picture, 'imageFile') }}"
                            alt="{{ product.picture.imageName }}"
                    />
                {% else %}
                    No image!
                {% endif %}
            </div>
            <div class="tblcol col-xs-12 col-sm-9 col-md-9">
                <table class="table">
                    <tbody>
                    <tr>
                        <th>{{ product.name }}</th>
                        <td>
                            {{ product.description }}
                        </td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{ product.price }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    {% endfor %}

{% endif %}
