{% set user_is_logged_in = app.user ? true : false %}

{% if category.children|length > 0 or category.products|length > 0 %}
    <div class="row category {% if param_is_first %}first{% endif %}" id="category-{{ category.id }}"
        {% if param_to_hide %}
            style="display: none;"
        {% endif %}
    >
        <div class="tblcol col-xs-12 col-sm-4 col-md-4">
            {% if category.picture %}
                <img
                    class="img-fluid"
                    src="{{ vich_uploader_asset(category.picture, 'imageFile') }}"
                    alt="{{ category.picture.imageName }}"
                />
            {% else %}
                No image!
            {% endif %}
        </div>
        <div class="tblcol col-xs-12 col-sm-8 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="cat-name"><h3>{{ category.name }}</h3></div>
                </div>
                <div class="panel-body">
                    <div class="cat-desc">{{ category.description|raw }}</div>
                </div>
            </div>
        </div>
    </div>

    {% for product in category.products|filter(product => product.enabled) %}
        <div class="row product category-{{ category.id }}" style="display: none;">
            <div class="tblcol col-xs-12 col-sm-3 col-md-3">
                {% if product.picture %}
                    <img
                            class="img-fluid prod-img"
                            src="{{ vich_uploader_asset(product.picture, 'imageFile') }}"
                            alt="{{ product.picture.imageName }}"
                    />
                {% else %}
                    No image!
                {% endif %}
            </div>
            <div class="tblcol col-10 col-sm-7 col-md-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="float-left col-6 col-sm-6 col-md-8 prod-name"><u>{{ product.name }}</u></div>
                        <div class="float-right col-6 col-sm-6 col-md-4 prod-price"><u>{{ product.price }} RSD</u></div>
                    </div>
                    <div class="panel-body">
                        <div class="prod-desc">{{ product.description|raw }}</div>
                    </div>
                </div>
            </div>

            {% if user_is_logged_in %}
            <div class="tblcol col-2">
                <div class="panel">
                    <product
                            v-bind:id="{{ product.id }}"
                            name="{{ product.name }}"
                            image="{{ vich_uploader_asset(product.picture, 'imageFile') }}"
                            v-bind:price="{{ product.price }}"
                            plussign="{{ asset("build/images/plus-solid.svg") }}"
                            minussign="{{ asset("build/images/minus-solid.svg") }}"
                    >
                    </product>
                </div>
            </div>
            {% endif %}
        </div>
    {% endfor %}

{% endif %}
