{% set user_is_logged_in = app.user ? true : false %}

{% if category.children|length > 0 or category.products|length > 0 %}
    <div class="row category {% if param_is_first %}first{% endif %}" id="category-{{ category.id }}"
        {% if param_to_hide %}
            style="display: none;"
        {% endif %}
    >
        <div class="tblcol col-xs-12 col-sm-6">
            {% if category.picture %}
                <img
                    class="img-fluid"
                    src="{{ vich_uploader_asset(category.picture, 'imageFile') }}"
                    alt="{{ category.picture.imageName }}"
                />
            {% else %}
                No image!
            {% endif %}
        </div>
        <div class="tblcol col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="cat-name"><h3>{{ category.name }}</h3></div>
                </div>
                <div class="panel-body">
                    <div class="cat-desc">{{ category.description|raw }}</div>
                </div>
            </div>
        </div>
    </div>

    <div class="row products category-{{ category.id }}" style="display: none;">
        {% for product in category.products|filter(product => product.enabled) %}
            <div class="container-fluid product">
                <div class="row">
                    <div class="tblcol col-12 col-md-6">
                        {% if product.picture %}
                            <img
                                    class="img-fluid prod-img"
                                    src="{{ vich_uploader_asset(product.picture, 'imageFile') }}"
                                    alt="{{ product.picture.imageName }}"
                            />
                        {% else %}
                            No image!
                        {% endif %}
                    </div>
                    <div class="tblcol col-12 col-md-6">
                        <div class="row">
                                <div class="col-12">
                                    <div class="float-left col-12 prod-name">{{ product.name }}</div>
                                    <div class="col-12 prod-price">{{ (product.price/100)|format_currency("RSD", {fraction_digit: 2}) }}</div>
                                </div>
                                <div class="col-12">
                                    {% if user_is_logged_in %}
                                            <product
                                                    v-bind:id="{{ product.id }}"
                                                    name="{{ product.name }}"
                                                    image="{{ vich_uploader_asset(product.picture, 'imageFile') }}"
                                                    price="{{ product.price|number_format(2, ',', '.') }}"
                                                    v-bind:pricenumeric="{{ product.price }}"
                                                    plussign="{{ asset("build/images/plus-solid.svg") }}"
                                                    minussign="{{ asset("build/images/minus-solid.svg") }}"
                                            >
                                            </product>
                                    {% else %}
                                        <div class="prod-desc">{{ product.description|raw }}</div>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endif %}
